<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sens.mapper.PostMapper">

    <select id="getLatestPost" resultType="com.example.sens.entity.Post">
        SELECT * FROM post p

        order by create_time desc
        limit #{limit}
    </select>

    <select id="countByStatus" resultType="java.lang.Integer">
        SELECT count(*) FROM post WHERE post_status = #{postStatus}
    </select>



</mapper>